

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: blue
    color: white
    display: flex
    flex-direction: column
    min-height: 100vh
    margin: 0 auto


header, main, footer
    width: 100%
    max-width: 1200px
    margin: 0 auto

header
    background-color: red

main
    margin-top: 100px
    flex: 1

footer
    background-color: rebeccapurple

