---
import Layout from '../layouts/Layout.astro';
import PhotoGallery from '../components/PhotoGallery/PhotoGallery.jsx';

---

<Layout title="Welcome to React in Astro.">
	<main>
		<PhotoGallery />

	</main>
</Layout>


