---
import LayoutOcean from "../layouts/LayoutOcean.astro";
---


<LayoutOcean title="OceansSixx Startseite"/>

    <main>

    
    
        <h1>Startseite</h1>

        <section>
            Balaablaaa
        </section>

    </main>
</LayoutOcean>