---
import { Image } from 'astro:assets'
import localImage from "../assets/pics/tamron18300.webp";
const localAlt = "Kamera. Sony Alpha 6400";




export interface Props {
	title: string;
	description: string;
    url: string;
}

const { title, description, url } = Astro.props;
---

<div class="card">
    <Image
        src={localImage}
        width={100}
        alt={localAlt}
    />

    <div class="text">
        <h3>{title}</h3>
        <p>{description}</p>
    </div>
</div>

<style lang="scss">

    .card {
        width: 400px;
        // height: 100px;
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #fff;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
        &:hover {
            box-shadow: 0 4px 6px -1px var(--accent);
        }
        img {
            padding: 0.3rem;
            padding-left: 0.8rem;
            border-radius: 0.9rem;
        }
        .text {
            padding: 0.3rem 1rem;
            
        }
        
    }
</style>