---
export interface Props {
  title: string;
  url: string;
}

const { title, url } = Astro.props;
---

<div class="card">
	<a href={"/" + url}>
    <div class="content">
        {title}
    </div></a>
</div>


<style lang="sass">

    $prime: #ff6e48
    $ciBlue: #00FFF1
    $ciRed: #ff00aa
    $ciGreen: #46fcb4
    $second: #0c1016


    $width: 150px
    $height: 30px
    $borderSize: 3px
    $borderRadius: 20px

    .card
        width: $width
        height: $height
        position: relative
        z-index: 2
        border-radius: $borderRadius

        .content
            width: 100%
            height: 100%
            background-color: $second
            border-radius: $borderRadius - $borderSize
            color: white
            display: flex
            justify-content: center
            align-items: center
            a
                text-decoration: none
                color: white


        &::before, &::after
            content: ""
            width: $width + $borderSize*2
            height: $height + $borderSize*2
            display: block
            position: absolute
            z-index: -1
            border-radius: $borderRadius
            background-image: linear-gradient(0, $ciRed, $ciBlue)
            background-size: 100% 200%
            background-position: center center
            top: -$borderSize
            left: -$borderSize
            animation: spin 1000ms infinite alternate


        &::after
            filter: blur($width/1)
            
            

    @keyframes spin
        0%
            background-position: top center
        100%
            background-position: bottom center

</style>