<meta http-equiv="content-Type" content="text/html; utf-8" />
<meta http-equiv="Pragma" content="cache" />
<meta name="robots" content="INDEX,FOLLOW" />
<meta http-equiv="content-Language" content="de" />
<meta name="description" content="Das ist die Beschreibung" />
<meta name="keywords" content="" />
<meta name="author" content="Werner Frischknecht" />
<meta name="publisher" content="sennwebs.ch" />
<meta name="copyright" content="sennpics.ch" />
<meta name="audience" content="Alle" />
<meta name="page-type" content="Anleitung" />
<meta name="page-topic" content="Bauen Wohnen" />
<meta http-equiv="Reply-to" content="mail@sennwebs.ch" />
<meta name="expires" content="" />
<meta name="revisit-after" content="2 days" />
<title>sennpics.ch</title>