---
import OsNavIcon from "./OsNavIcon.astro";

---

<nav>
    <OsNavIcon
        icon="mdi:home"
        url="OSstart2"
        title="Home"
    />

    <OsNavIcon
        icon="mdi:contact"
        url="OSstart2"
        title="Kontakt"
    />
    

</nav>