---
import ShatteredGlas from '../components/ShatteredGlas.astro';
---

<div class="ShatterdGlass">
	<ShatteredGlas ueberschrift= "Herisau" text= "Mis Dorf" />
	<ShatteredGlas ueberschrift= "Tokio" text= "wiit weg" />
</div>

<style>
	.ShatterdGlass {
		display: flex;
		justify-content: center;
		gap: 2rem;
	}
</style>